.admin-layout {
  min-height: 100vh;
  display: flex;
  background: #f4f7f3;
}

.admin-layout-main {
  flex: 1;
  margin-left: 270px;
  min-height: 100vh;
}

.admin-layout-content {
  padding: 32px;
}